body {
  margin-bottom: 50px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

header > img {
  height: 120px;
  margin: 20px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}
